<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        <div>
            <form>
                <h3>Login</h3>

                <div>
                    <label>Username</label>

                    <input type="text" class="" id="" name="username" placeholder="Username"
                    th:value="">
                </div>

                <div>


                    <label>Password</label>

                    <input type="password" class="" id="" name="password" placeholder="Password"
                    th:vlaue = "">

                </div>


                <p>Incorrect password or username</p>

                <div>
                    <button>Login</button>
                </div>
            </form>
        </div>

    </main>
</body>
</html>